---
---

// 引入主题的默认样式
@import "{{ site.theme }}";

// 自定义样式
body, h1, h2, h3, h4, h5, h6 {
  color: #111112;
}

a,
a:link,
a:visited {
  color: #1e40af;
  text-underline-offset: 3px;
  transition: all 0.1s;
}
a:hover {
  font-weight: normal;
  text-decoration: underline #1e40af;
}

ul {
  padding-inline-start: 10px;
  list-style-type: "\2022";
}

li {
  text-indent: 0.5em;
}

// 用户头像
.avatar {
  width: 200px;
  border-radius: 50%;
  border: 1px solid #eee;
}

// 文章标题
h1.title {
  margin-bottom: 5px;
}

// 文章标签
.tag {
  background: linear-gradient(0deg, #00000010, transparent, #00000010 100%);
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #00000010;
  padding: 2px 8px;
}

// 文章图片
p img {
  box-shadow: 0px 0px 5px #eee;
  border-radius: 14px;
  padding: 8px;
  box-sizing: border-box;
}

// 引用块
blockquote {
  font-style: normal;
  color: #6b7280;
}

// 代码块
code, pre {
  font-family: Consolas, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

pre {
  border: none;
}

// 文章底部导航
.post-navigation {
  background: #f3f4f6;
  padding: 10px 12px;
}

@media screen and (max-width: 480px) {
  .title {
    display: inline-block;
  }
  .avatar {
    width: 40px;
    vertical-align: bottom;
  }
}